﻿html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 180px;
    font-family: 'Nunito Sans', sans-serif !important;
    font-size: 16px;
    background: url("/Content/img/fon.png");
}

body.ui-blocker:before
{
    content: ' ';
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 9999999999;
}

body .loader
{
    position: absolute;
    left: 50%;
    top: 20%;
    margin-left: -20px;
    margin-top: -20px;
    z-index: 99999999991;
}

body .loader .sk-double-bounce .sk-child
{
    background-color: #000;
}

.mt0 {
    margin-top: 0 !important;
}

.mb0 {
    margin-bottom: 0 !important;
}

.panel-default {
    border-color: #eee;
    box-shadow: none;
    border-radius: 2px;
}

.btn,
.form-control
{
    border-radius: 2px;
}

.form-control
{
    box-shadow: none;
}

.panel-body {
    padding: 20px;
}

.breadcrumb {
    padding: 0;
    background: none;
    margin: 10px 0 0 0;
}

footer {
    font-size: 14px;
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 20px 0;
    color: #4f4f4f;
    background-color: #f2f2f2;
    box-shadow: 0 0 6px rgba(0,0,0,.2);
}

footer nav {
    text-align: right;
}

@media (max-width: 768px)
{
    footer {
        text-align: center;
    }

    footer nav {
        text-align: center;
    }
}

footer a {
    color: #4f4f4f;
}

footer a:hover {
    color: #999;
    text-decoration: none;
}

footer .company-name {
    font-size: 24px;
}

.modal-content {
    box-shadow: none;
    border-color: rgba(0, 0, 0, 0.15);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
}
    
.vertical-center-wrap
{
    display: table;
    width: 100%;
    height: 100%;
}

.vertical-center
{
  display: table-cell;
  vertical-align: middle;
}

.login-logo
{
    margin: 25px 0 25px 0;
    text-align: center;
}

@media (min-width: 768px)
{
    .login-logo
    {
        margin-top: 100px;
    }
}

.login-header
{
    margin: 35px 0;
    text-align: center;
}

.login-wrap
{
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
}

.login-wrap .panel-login .panel-body .btn
{
    margin-top: 25px;
}

.or
{
    display: block;
    position: relative;
    border-top: 1px solid #dfdfdf;
    padding-top: 20px;
    margin-top:20px;
}

.or:before
{
    display: inline-block;
    content: "OR";
    color: #666666;
    background-color: #ffffff;
    position: absolute;
    text-align: center;
    top: -8px;
    width: 40px;
    left: 50%;
    margin-left: -20px;
}

.icheckbox {
    margin-left: -20px;
}

.site-title
{
    font-size: xx-large;
}

.site-title:hover
{
    text-decoration: none;    
}

.page-header {
    margin-top: 20px;
}

.page-header-with-actions:before,
.page-header-with-actions:after {
    display: table;
    content: " ";
}

.page-header-with-actions:after {
    clear: both;
}

.page-header-with-actions h1 {
    margin-top: 0;
}

.page-header-with-actions .actions
{
    margin-top: 5px;
}

.actions-column {
    width: 200px;
}

.dt-filters
{
	padding: 7px 0 15px 0;
}

.dt-filters .form-group > label
{
	font-weight: normal;
	font-size: 12px;
}

.dt-filters .form-control
{
}

.dt-filters .row:last-child .form-group
{
	margin-bottom: 0;
}

.dataTables_wrapper
{
	position: relative;
}

/*.dataTables_processing
{
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 1000;
}

.dataTables_processing span
{
	position: absolute;
	left: 0;
	top: 36px;
	z-index: 1;
	color: #fff;
	background: #689DFF;
	padding: 7px 10px;
	text-align: center;
	padding-top: 7px;
	border-radius: 0 0 2px 2px;
}

.dataTables_processing .bg,
.steps-wizard .step-content.loading .bg
{
	display:block;
	left: 0;
	top:0;
	width: 100%;
	height: 90%;
	background-color: #fff;
	opacity: 0.7;
	margin-top: 38px;
}*/

.validation-summary-errors
{
    padding: 15px;
    margin: 10px 0 20px 0;
    border-radius: 2px;
    background-color: #FCF2F2;
    border: 1px solid #eed3d7;
    color: #a94442;
}

.validation-summary-errors .close
{
	position: relative;
	top: -2px;
	right: -21px;
	line-height: 18px;
}

.validation-summary-errors ul
{
    margin: 0;
    padding: 0;
}

.validation-summary-errors li
{
    list-style: none;
}

.pagination > li > a, .pagination > li > span {
    padding: 4px 10px;
}

.page-header.with-backimage {
    padding-top: 300px;
    background: url('https://tablepin.ru/bitrix/templates/tablepin/images/main_background_image_001.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.page-header.with-backimage h1 {
    color: #fff;
    background: rgba(0,0,0,0.5);
    padding: 10px;
    text-align: center;
}

.sidebar-menu {
    width: 200px;
}

.sidebar-logo {
    width: 200px;
}

.navbar-coffee {
    background-color: #f2f2f2;
    border: none;
    box-shadow: 0 0 6px rgba(0,0,0,.2);
    padding-top: 5px;
    height: 60px;
}

.navbar-coffee a {
    color: #f1592a;
}

.navbar-coffee .nav>li>a:focus, .navbar-coffee .nav>li>a:hover {
    background-color: transparent;
}

.menu-coffee {
    width: 100%;
    height: 90px;
    background: #fff;
    border-bottom: 3px solid #f1592a;
    transition: all 0.4s ease;
    overflow: hidden;
    text-align: center;
}

.menu-coffee.sticky {
    top: 0;
    line-height: 48px;
    height: 48px;
    position: fixed;
}

.menu-coffee.sticky .text-item {
    display: none;
}

.menu-coffee.sticky a {
    width: 90px;
}

.menu-coffee.sticky .img-item {
    height: 36px;
    background-size: 36px;
}

.menu-coffee .img-item {
    display: inline-block;
    width: 100%;
    height: 50px;
    background-image: url(http://www.iconninja.com/files/638/708/35/staff-icon.svg);
    background-repeat: no-repeat;
    background-position: 50% 30%;
    background-size: 48px;
    transition: all 0.4s ease;
}

.menu-coffee .text-item {
    color: #4f4f4f;
    text-transform: uppercase;
    text-align: center;
}

.menu-coffee a {
    margin: 5px 10px;
    height: 80px;
    display: inline-block;
    width: 120px;
    transition: all 0.4s ease;
}

.menu-coffee a:hover .text-item {
    color: #f1592a;
}

.menu-coffee a:hover, .menu-coffee a:focus {
    text-decoration: none;
}