html {
  position: relative;
  min-height: 100%; }

body {
  min-height: 550px;
  margin-bottom: 180px;
  font-family: "Nunito Sans", sans-serif;
  font-size: 16px;
  background: url("/Content/img/fon.png"); }
  body.ui-blocker:before {
    content: ' ';
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 9999999999; }
  body .loader {
    position: absolute;
    left: 50%;
    top: 20%;
    margin-left: -20px;
    margin-top: -20px;
    z-index: 99999999991; }
    body .loader .sk-double-bounce .sk-child {
      background-color: #000; }

.mt0 {
  margin-top: 0 !important; }

.mb0 {
  margin-bottom: 0 !important; }

.panel-default {
  border-color: #eee;
  box-shadow: none;
  border-radius: 2px; }

.btn, .form-control {
  border-radius: 2px; }

.form-control {
  box-shadow: none; }

.panel-body {
  padding: 20px; }

.breadcrumb {
  padding: 0;
  background: none;
  margin: 10px 0 0 0; }

footer {
  font-size: 14px;
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 20px 0;
  color: #4f4f4f;
  background-color: #f2f2f2;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.2); }
  @media (max-width: 768px) {
    footer {
      text-align: center; }
      footer nav {
        text-align: center; } }
  footer nav {
    text-align: right; }
  footer a {
    color: #4f4f4f; }
    footer a:hover {
      color: #999;
      text-decoration: none; }
  footer .company-name {
    font-size: 24px;
    display: inline-block; }
    footer .company-name .icon-title {
      float: left; }
      footer .company-name .icon-title svg {
        width: 32px;
        height: 32px; }
      footer .company-name .icon-title .st0 {
        fill: #4f4f4f; }
    footer .company-name span {
      margin-top: 2px;
      float: left; }
  footer .right-reserved {
    margin: -10px 0 0 5px; }

.modal-content {
  box-shadow: none;
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175); }

.vertical-center-wrap {
  display: table;
  width: 100%;
  height: 100%; }

.vertical-center {
  display: table-cell;
  vertical-align: middle; }

.navbar-brand .icon-title {
  margin-top: -18px;
  display: inline-block; }
  .navbar-brand .icon-title svg {
    width: 46px;
    height: 46px; }
.navbar-brand .text-title {
  float: right;
  font-size: 30px;
  margin-top: 2px; }
.navbar-brand .cap-coffee-svg .st0 {
  fill: #f1592a; }

.login-logo {
  margin: 25px 0 25px 0;
  text-align: center; }
  @media (min-width: 768px) {
    .login-logo {
      margin-top: 100px; } }

.login-header {
  margin: 35px 0;
  text-align: center; }

.login-wrap {
  max-width: 400px;
  margin-left: auto;
  margin-right: auto; }
  .login-wrap .panel-login .panel-body .btn, .login-wrap .panel-login .panel-body .form-control {
    margin-top: 25px; }

.or {
  display: block;
  position: relative;
  border-top: 1px solid #dfdfdf;
  padding-top: 20px;
  margin-top: 20px; }
  .or:before {
    display: inline-block;
    content: "OR";
    color: #666666;
    background-color: #ffffff;
    position: absolute;
    text-align: center;
    top: -8px;
    width: 40px;
    left: 50%;
    margin-left: -20px; }

.icheckbox {
  margin-left: -20px; }

.site-title {
  font-size: xx-large; }
  .site-title:hover {
    text-decoration: none; }

.page-header {
  margin-top: 20px; }

.page-header-with-actions:before, .page-header-with-actions:after {
  display: table;
  content: " "; }
.page-header-with-actions:after {
  clear: both; }
.page-header-with-actions h1 {
  margin-top: 0; }
.page-header-with-actions .actions {
  margin-top: 5px; }

.actions-column {
  width: 200px; }

.dt-filters {
  padding: 7px 0 15px 0; }
  .dt-filters .form-group > label {
    font-weight: normal;
    font-size: 12px; }
  .dt-filters .row:last-child .form-group {
    margin-bottom: 0; }

.dataTables_wrapper {
  position: relative; }

.validation-summary-errors {
  padding: 15px;
  margin: 10px 0 20px 0;
  border-radius: 2px;
  background-color: #FCF2F2;
  border: 1px solid #eed3d7;
  color: #a94442; }
  .validation-summary-errors .close {
    position: relative;
    top: -2px;
    right: -21px;
    line-height: 18px; }
  .validation-summary-errors ul {
    margin: 0;
    padding: 0; }
  .validation-summary-errors li {
    list-style: none; }

.pagination > li > a, .pagination > li > span {
  padding: 4px 10px; }

.page-header.with-backimage {
  padding-top: 300px;
  background: url("https://tablepin.ru/bitrix/templates/tablepin/images/main_background_image_001.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center; }
  .page-header.with-backimage h1 {
    color: #fff;
    background: rgba(0, 0, 0, 0.5);
    padding: 10px;
    text-align: center; }

.base-container {
  margin-top: 20px; }

.navbar-coffee {
  background-color: #f2f2f2;
  border: none;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
  padding-top: 5px;
  height: 60px; }
  .navbar-coffee a {
    color: #f1592a; }
  .navbar-coffee .nav > li > a:focus, .navbar-coffee .nav > li > a:hover {
    background-color: transparent; }

.menu-coffee {
  width: 100%;
  height: 90px;
  background: #fff;
  border-bottom: 3px solid #f1592a;
  transition: all 0.4s ease;
  overflow: hidden;
  text-align: center;
  position: relative;
  z-index: 999; }
  .menu-coffee .menu-selector {
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 6px solid #f1592a;
    content: ' ';
    display: block;
    position: absolute;
    bottom: 0px;
    left: calc(50% - 6px);
    transition: left 0.4s ease; }
  .menu-coffee.sticky {
    top: 0;
    height: 48px;
    position: fixed; }
    .menu-coffee.sticky .text-item {
      display: none; }
    .menu-coffee.sticky a {
      height: 36px; }
    .menu-coffee.sticky .img-item {
      height: 32px; }
      .menu-coffee.sticky .img-item svg {
        height: 32px; }
  .menu-coffee .img-item {
    display: block;
    width: 100%;
    height: 54px;
    transition: height 0.4s ease; }
    .menu-coffee .img-item svg {
      width: 100%;
      height: 54px;
      transition: height 0.4s ease; }
      .menu-coffee .img-item svg .st0 {
        fill: #f1592a; }
  .menu-coffee .text-item {
    color: #4f4f4f;
    text-transform: uppercase;
    text-align: center; }
  .menu-coffee a {
    margin: 5px 10px;
    height: 80px;
    display: inline-block;
    width: 120px;
    transition: all 0.4s ease; }
    .menu-coffee a:hover .text-item {
      color: #f1592a; }
    .menu-coffee a:hover, .menu-coffee a:focus {
      text-decoration: none; }

.tile-caffee {
  background: #f2f2f2;
  width: 100%;
  border-radius: 6px;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
  margin: 10px auto;
  display: block;
  position: relative; }
  .tile-caffee .links {
    display: block;
    z-index: 998;
    background-color: rgba(21, 21, 21, 0.5);
    width: 100%;
    height: 60%;
    margin: 0;
    position: absolute;
    top: 30%;
    transform: translate(0, -30%);
    left: 0;
    transition: opacity 0.4s ease;
    opacity: 0; }
    .tile-caffee .links .btn-group {
      margin: 0;
      position: absolute;
      top: 50%;
      left: 50%;
      margin-right: -50%;
      transform: translate(-50%, -50%); }
    .tile-caffee .links a {
      font-size: 30px;
      color: #fff;
      box-shadow: none;
      transition: color 0.4s ease; }
      .tile-caffee .links a:hover, .tile-caffee .links a:focus {
        color: #f1592a; }
  .tile-caffee .tile-title {
    height: 32px;
    line-height: 32px;
    background: #fff;
    width: 100%;
    border-radius: 6px 6px 0 0;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    border-bottom: 2px solid #f1592a; }
  .tile-caffee .tile-image {
    width: 100%;
    height: 160px;
    background: #fff;
    display: block;
    position: relative;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 50% 50%; }
    .tile-caffee .tile-image:hover .links {
      opacity: 1; }
    .tile-caffee .tile-image:after {
      width: 0;
      height: 0;
      border-left: 8px solid transparent;
      border-right: 8px solid transparent;
      border-top: 12px solid #fff;
      content: ' ';
      position: absolute;
      display: block;
      bottom: -12px;
      left: 32px; }
  .tile-caffee .tile-info {
    padding: 16px 10px 10px 10px;
    height: 100px; }

#editor-standalone-container {
  background-color: #fff; }
  #editor-standalone-container #toolbar-container {
    display: none;
    border-radius: 2px 2px 0 0; }
    #editor-standalone-container #toolbar-container.ql-toolbar {
      display: block; }
  #editor-standalone-container #editor-container {
    border-radius: 0 0 2px 2px; }

.select2-container--default .select2-selection--multiple {
  border-color: #ccc !important;
  border-radius: 2px !important; }

.select2-container--default.select2-container--focus .select2-selection--multiple {
  border-color: #66afe9 !important;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6); }

.required::after {
  content: " *";
  color: red; }

#service-tags {
  height: 35px; }

#photos .photo-tile {
  padding: 10px;
  text-align: center;
  height: 280px; }
  #photos .photo-tile img {
    max-width: 100%;
    max-height: 100%; }

/*# sourceMappingURL=style.css.map */
