/*!
 * Generated with CSS Flag Sprite generator (https://www.flag-sprites.com/)
 */

.flag {
    display: inline-block;
    width: 16px;
    height: 11px;
    background: url('flags.png') no-repeat;
}


.flag.flag-lu {
    background-position: -96px -33px;
}

.flag.flag-ch {
    background-position: 0 -11px;
}

.flag.flag-nl {
    background-position: -80px -44px;
}

.flag.flag-ro {
    background-position: -16px -55px;
}

.flag.flag-gg {
    background-position: -32px -22px;
}

.flag.flag-ba {
    background-position: -64px 0;
}

.flag.flag-pl {
    background-position: -112px -44px;
}

.flag.flag-es {
    background-position: -80px -11px;
}

.flag.flag-fo {
    background-position: -112px -11px;
}

.flag.flag-bg {
    background-position: -96px 0;
}

.flag.flag-at {
    background-position: -32px 0;
}

.flag.flag-si {
    background-position: -80px -55px;
}

.flag.flag-mc {
    background-position: 0 -44px;
}

.flag.flag-is {
    background-position: -16px -33px;
}

.flag.flag-dk {
    background-position: -48px -11px;
}

.flag.flag-lv {
    background-position: -112px -33px;
}

.flag.flag-sj {
    background-position: -96px -55px;
}

.flag.flag-va {
    background-position: -48px -66px;
}

.flag.flag-sk {
    background-position: -112px -55px;
}

.flag.flag-fr {
    background-position: 0 -22px;
}

.flag.flag-se {
    background-position: -64px -55px;
}

.flag.flag-de {
    background-position: -32px -11px;
}

.flag.flag-lt {
    background-position: -80px -33px;
}

.flag.flag-sm {
    background-position: 0 -66px;
}

.flag.flag-fi {
    background-position: -96px -11px;
}

.flag.flag-je {
    background-position: -48px -33px;
}

.flag.flag-rs {
    background-position: -32px -55px;
}

.flag.flag-no {
    background-position: -96px -44px;
}

.flag.flag-ie {
    background-position: -112px -22px;
}

.flag.flag-mt {
    background-position: -64px -44px;
}

.flag.flag-it {
    background-position: -32px -33px;
}

.flag.flag-ee {
    background-position: -64px -11px;
}

.flag.flag-xk {
    background-position: -64px -66px;
}

.flag.flag-gr {
    background-position: -64px -22px;
}

.flag.flag-mk {
    background-position: -48px -44px;
}

.flag.flag-gb {
    background-position: -16px -22px;
}

.flag.flag-al {
    background-position: -16px 0;
}

.flag.flag-pt {
    background-position: 0 -55px;
}

.flag.flag-gi {
    background-position: -48px -22px;
}

.flag.flag-hr {
    background-position: -80px -22px;
}

.flag.flag-ax {
    background-position: -48px 0;
}

.flag.flag-cz {
    background-position: -16px -11px;
}

.flag.flag-ua {
    background-position: -16px -66px;
}

.flag.flag-hu {
    background-position: -96px -22px;
}

.flag.flag-li {
    background-position: -64px -33px;
}

.flag.flag-ru {
    background-position: -48px -55px;
}

.flag.flag-im {
    background-position: 0 -33px;
}

.flag.flag-ad {
    background-position: 0 0;
}

.flag.flag-us {
    background-position: -32px -66px;
}

.flag.flag-me {
    background-position: -32px -44px;
}

.flag.flag-by {
    background-position: -112px 0;
}

.flag.flag-be {
    background-position: -80px 0;
}

.flag.flag-md {
    background-position: -16px -44px;
}
