﻿@using MvcSiteMapProvider.Web.Html
<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title</title>    

        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        
        <link rel="apple-touch-icon" sizes="180x180" href="/favicons/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/favicons/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/favicons/favicon-16x16.png">
        <link rel="manifest" href="/favicons/manifest.json">
        <link rel="mask-icon" href="/favicons/safari-pinned-tab.svg" color="#f1592a">
        <meta name="theme-color" content="#f2f2f2">

        <link href="https://fonts.googleapis.com/css?family=Nunito+Sans:400,400i,700,700i" rel="stylesheet">
        @Styles.Render("~/bundles/main-styles")
        @Scripts.Render("~/bundles/main-scripts")

        @RenderSection("styles", required: false)
    </head>
    <body>
        @RenderBody()

        <script type="text/javascript">

            $(function () {
                site.onReady();
            });

        </script>

        @RenderSection("scripts", false)

        <div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                </div>
            </div>
        </div>

        <script id="validation-error-template" type="text/x-handlebars-template">
            <div class="alert alert-danger" role="alert">
                <strong><i class="glyphicon glyphicon-warning-sign"></i></strong> {{error}}
            </div>
        </script>

        @RenderSection("footer", required: false)
    </body>
</html>