﻿@using MvcSiteMapProvider.Web.Html

@helper RequestIs(string url, string trueResult, string falseResult)
{
    if (url.Contains("/"))
    {
        List<string> urlList = url.Split(new string[] { "/" }, StringSplitOptions.None).ToList();
        bool isValid = true;
        for (int i = 0; i < urlList.Count; i++)
        {
            if (Request.Url.Segments[i + 1] != urlList[i] && Request.Url.Segments[i + 1] != urlList[i] + "/")
            {
                isValid = false;
                break;
            }
        }

        @(isValid ? trueResult : falseResult)
    }
    else if (url.Contains("*"))
    {
        string clearUrl = url.Replace("*", "");
        @(Request.Url.Segments[1] == clearUrl || Request.Url.Segments[1] == clearUrl + "/" ? trueResult : falseResult)
    }
    else
    {
        @(Request.Url.Segments[1] == url ? trueResult : falseResult)
    }
}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    @Styles.Render("~/bundles/main-styles")
    @Scripts.Render("~/bundles/main-scripts")

    @RenderSection("styles", required: false)
</head>
<body>

    <div class="container-fluid">
        <ul class="nav nav-pills">
            <li role="presentation" class="@RequestIs("dashboard", "active", "")"><a href="@Url.Action("Index", "Dashboard")">Dashboard</a></li>
            <li role="presentation" class="@RequestIs("institution*", "active", "")"><a href="@Url.Action("Index", "Institution")">Заведения</a></li>
            <li role="presentation" class="dropdown @(RequestIs("menu/category", "true", "false").ToString() == "true" || RequestIs("menu/recipe", "true", "false").ToString() == "true" ? "active" : "")">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                    Блюда/Категории <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li class="@RequestIs("menu/recipe", "active", "")"><a href="@Url.Action("Recipe", "Menu")">Блюда</a></li>
                    <li class="@RequestIs("menu/category", "active", "")"><a href="@Url.Action("Category", "Menu")">Категории</a></li>
                </ul>
            </li>
            <li role="presentation" class="@RequestIs("staff", "active", "")"><a href="@Url.Action("Index", "Staff")">Сотрудники</a></li>
        </ul>
        
        @RenderBody()
    </div>

    <script type="text/javascript">

            $(function () {
                site.onReady();
            });

    </script>

    @RenderSection("scripts", false)

    <div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
            </div>
        </div>
    </div>

    <script id="validation-error-template" type="text/x-handlebars-template">
        <div class="alert alert-danger" role="alert">
            <strong><i class="glyphicon glyphicon-warning-sign"></i></strong> {{error}}
        </div>
    </script>

    <footer>
        <div class="container">
            <p class="text-muted">&copy; @DateTime.Now.Year Coffee Manager</p>
        </div>
    </footer>
</body>
</html>