﻿@{
    Layout = "_BaseLayout.cshtml";
}

@helper RequestIs(string url, string trueResult, string falseResult)
{
if (url.Contains("/"))
{
    List<string> urlList = url.Split(new string[] { "/" }, StringSplitOptions.None).ToList();
    bool isValid = true;
    for (int i = 0; i < urlList.Count; i++)
    {
        if (Request.Url.Segments[i + 1] != urlList[i] && Request.Url.Segments[i + 1] != urlList[i] + "/")
        {
            isValid = false;
            break;
        }
    }

    @(isValid ? trueResult : falseResult)
}
else if (url.Contains("*"))
{
    string clearUrl = url.Replace("*", "");
        @(Request.Url.Segments[1] == clearUrl || Request.Url.Segments[1] == clearUrl + "/" ? trueResult : falseResult)
}
else
{
        @(Request.Url.Segments[1] == url ? trueResult : falseResult)
}
}

@section styles{
    @RenderSection("styles", required: false)
}

@section scripts{
    @RenderSection("scripts", required: false)
}

<nav class="navbar navbar-coffee" role="navigation">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">
                <i class="icon-title">@Html.Partial("_SvgIcons", 1)</i>
                <span class="text-title">Coffee Manager</span>
            </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

            <ul class="nav navbar-nav">
                @Html.MvcSiteMap().Menu()
            </ul>

            <ul class="nav navbar-nav navbar-right">
                @Html.Partial("_LogInPartial")
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>

@if (User.Identity.IsAuthenticated && Url.RequestContext.RouteData.Values["controller"].ToString() != "Home")
{
    <div class="menu-coffee">
        <div class="container">
            <a href="@Url.Action("Index", "Dashboard")" class="@RequestIs("dashboard", "active", "")">
                <div class="img-item">@Html.Partial("_SvgIcons", 5)</div>
                <div class="text-item">Dashboard</div>
            </a>
            <a href="@Url.Action("Index", "Institution")" class="@RequestIs("institution*", "active", "")">
                <div class="img-item">@Html.Partial("_SvgIcons", 2)</div>
                <div class="text-item">Заведения</div>
            </a>
            <a href="#">
                <div class="img-item">@Html.Partial("_SvgIcons", 3)</div>
                <div class="text-item">Блюда</div>
            </a>
            <a href="@Url.Action("Index", "Staff")" class="@RequestIs("staff", "active", "")">
                <div class="img-item">@Html.Partial("_SvgIcons", 4)</div>
                <div class="text-item">Персонал</div>
            </a>
        </div>

        <div class="menu-selector"></div>
    </div>
}

<div class="container base-container">
            
    @Html.MvcSiteMap().SiteMapPath()

    @RenderBody()
            
</div>
    
@section footer{
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    <div class="company-name">
                        <i class="icon-title">@Html.Partial("_SvgIcons", 1)</i>
                        <span>Coffee Manager</span>
                    </div>
                    <div class="right-reserved">2017 &copy; Все права защищены</div>
                </div>

                <div class="col-sm-4">Social links</div>

                <div class="col-sm-4">
                    <nav>
                        <a href="#">О нас</a><br />
                        <a href="#">Контакты</a><br />
                        <a href="#">Правила и условия</a><br />
                        <a href="#">Политика конфиденциальности</a>
                    </nav>
                </div>
            </div>
        </div>
    </footer>
}