﻿@{ 
    var culture = System.Threading.Thread.CurrentThread.CurrentUICulture.Name.ToLowerInvariant();
}
@helper selected(string c, string culture)
{ 
    if (c == culture)
    {
        @:class="active"
    }
}
@helper flag(string culture)
{
    if (culture == "en-us") {
@:us
    } else {
        @culture.Split('-')[0]
    }
}
<li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="flag flag-@flag(culture)"></i> <span class="caret"></span></a>
    <ul class="dropdown-menu" role="menu">
        <li @selected("ru-ru", culture)><a href="@Url.Action("SetCulture", "Home", new { culture = "ru" })"><i class="flag flag-ru"></i> Русский</a></li>
        <li @selected("en-us", culture)><a href="@Url.Action("SetCulture", "Home", new { culture = "en-us" })"><i class="flag flag-us"></i> English</a></li>
        <li @selected("lv", culture)><a href="@Url.Action("SetCulture", "Home", new { culture = "lv" })"><i class="flag flag-lv"></i> Latviešu</a></li>
    </ul>
</li>

@if (Request.IsAuthenticated)
{
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="glyphicon glyphicon-user"></i> @User.Identity.Name <span class="caret"></span></a>
        <ul class="dropdown-menu" role="menu">
            <li><a href="@Url.Action("Index", "Dashboard")"><i class="glyphicon glyphicon-cog"></i> Dashboard</a></li>
            <li><a href="@Url.Action("LogOff", "Account")"><i class="glyphicon glyphicon-log-out"></i> Выход</a></li>
        </ul>
    </li>
}
else
{
    <li>
        <a class="btn btn-outline-success" href="@Url.Action("Register", "Account")">Регистрация</a>
    </li>
    <li>
        <a href="@Url.Action("LogIn", "Account")"><i class="glyphicon glyphicon-log-in"></i> Вход</a>
    </li>
}