﻿@model int

<?xml version="1.0" standalone="no" ?>

@switch (Model)
{
    case 1:
        <svg class="cap-coffee-svg" version="1.0" xmlns="http://www.w3.org/2000/svg" width="1140.000000pt" height="1140.000000pt" viewBox="0 0 1140.000000 1140.000000" preserveAspectRatio="xMidYMid meet">
            <g transform="translate(0.000000,1140.000000) scale(0.100000,-0.100000)" fill="#000000" stroke="none">
                <path class="st0" d="M6060 9762 c-149 -124 -421 -398 -524 -527 -155 -194 -261 -388 -285
-520 -60 -324 167 -644 775 -1095 78 -57 151 -118 162 -135 70 -102 43 -275
-79 -515 -87 -171 -253 -418 -421 -625 l-33 -40 55 45 c82 68 402 390 516 520
203 232 340 425 419 592 59 124 79 211 72 313 -14 207 -133 379 -452 655 -287
247 -387 355 -426 460 -70 188 30 509 268 859 35 52 62 95 60 97 -1 2 -50 -36
-107 -84z" />
                <path class="st0" d="M4958 8407 c-85 -141 -112 -193 -161 -307 -74 -171 -100 -269 -101
-385 -1 -91 2 -105 28 -157 76 -152 261 -269 616 -392 74 -26 145 -57 158 -69
82 -77 64 -307 -51 -640 -24 -71 -38 -122 -31 -115 27 28 195 370 247 503 75
191 99 288 101 405 1 86 -2 100 -29 153 -54 108 -158 184 -391 283 -256 110
-321 153 -362 242 -47 104 -40 274 19 490 11 41 19 76 17 78 -2 2 -29 -38 -60
-89z" />
                <path class="st0" d="M2535 5908 c-46 -47 -65 -105 -65 -196 1 -44 26 -191 29 -164 1 9
569 12 2806 12 l2805 0 1 -22 c1 -13 8 6 16 42 9 41 13 99 11 155 -5 105 -29
164 -81 195 -32 20 -70 20 -2756 20 l-2724 0 -42 -42z" />
                <path class="st0" d="M8527 5644 c-92 -20 -158 -46 -168 -64 -11 -23 -112 -441 -107 -445
3 -3 40 0 84 7 148 21 301 -29 407 -134 78 -77 109 -147 115 -255 6 -112 -8
-151 -136 -371 -120 -207 -175 -270 -274 -320 -168 -85 -370 -79 -510 13 l-39
26 -15 -38 c-9 -21 -45 -106 -80 -188 -35 -83 -64 -156 -64 -162 0 -6 26 -35
58 -63 257 -231 613 -278 926 -124 90 45 147 87 227 171 80 83 80 82 294 462
240 427 260 484 253 716 -4 114 -9 142 -38 228 -54 159 -136 280 -257 377 -81
65 -204 129 -298 155 -86 24 -292 29 -378 9z" />
                <path class="st0" d="M2514 5453 c3 -10 19 -74 36 -143 117 -468 332 -1090 541 -1562 326
-735 656 -1174 959 -1275 52 -17 121 -18 1265 -18 l1210 0 57 23 c240 97 485
379 736 847 230 430 464 1022 661 1677 48 160 121 435 121 457 0 8 -848 11
-2796 11 -2658 0 -2795 -1 -2790 -17z" />
                <path class="st0" d="M1985 2258 c-92 -50 -125 -147 -89 -255 38 -112 188 -293 352 -424
l73 -59 3039 0 c2879 0 3039 1 3058 18 37 33 262 342 293 404 45 90 50 161 15
232 -17 34 -39 63 -60 75 l-33 21 -3314 0 c-2402 -1 -3320 -4 -3334 -12z" />
            </g>
        </svg>
        break;
    case 2:
        <svg class="institution-svg" version="1.0" xmlns="http://www.w3.org/2000/svg" width="626.000000pt" height="626.000000pt" viewBox="0 0 626.000000 626.000000" preserveAspectRatio="xMidYMid meet">
            <g transform="translate(0.000000,626.000000) scale(0.100000,-0.100000)" fill="#000000" stroke="none">
                <path class="st0" d="M1075 5883 c-68 -36 -97 -81 -98 -154 -1 -61 25 -109 77 -143 l40
-26 1951 0 1951 0 40 26 c52 34 78 82 77 143 -1 64 -25 106 -81 142 l-46 29
-1940 0 c-1752 -1 -1944 -2 -1971 -17z" />
                <path class="st0" d="M629 4690 l-345 -690 2761 0 2762 0 -345 690 -346 690 -2071 0 -2071
0 -345 -690z m1076 424 c19 -8 45 -55 45 -82 0 -29 -356 -734 -381 -754 -24
-21 -77 -23 -100 -5 -20 16 -39 51 -39 74 0 28 357 736 381 756 21 17 64 22
94 11z m710 -20 c14 -16 25 -39 25 -55 0 -35 -341 -721 -375 -755 -43 -43
-117 -25 -136 34 -11 34 -7 44 172 405 101 203 193 375 204 383 32 23 83 18
110 -12z m690 1 l25 -24 0 -381 0 -381 -25 -24 c-16 -17 -35 -25 -60 -25 -25
0 -44 8 -60 25 l-25 24 0 381 0 381 25 24 c33 34 87 34 120 0z m659 0 c13 -13
52 -78 87 -142 35 -65 119 -219 187 -343 68 -123 126 -237 129 -251 15 -77
-82 -130 -140 -76 -14 12 -92 146 -175 297 -215 395 -232 428 -232 461 0 70
96 106 144 54z m721 1 c29 -29 375 -719 375 -748 0 -27 -26 -74 -45 -82 -30
-11 -73 -6 -93 12 -21 17 -366 698 -377 744 -7 28 15 82 37 91 34 14 80 6 103
-17z" />
                <path class="st0" d="M283 3678 c7 -187 38 -289 127 -421 69 -103 223 -214 353 -256 l37
-13 0 -1139 0 -1139 -197 0 c-189 0 -198 -1 -237 -24 -118 -69 -110 -231 14
-297 34 -18 122 -19 2665 -19 2543 0 2631 1 2665 19 124 66 132 228 14 297
-39 23 -48 24 -237 24 l-197 0 0 1139 0 1139 38 13 c129 42 283 153 352 256
89 132 120 234 127 421 l6 142 -2768 0 -2768 0 6 -142z m1446 -311 c75 -162
216 -291 394 -357 l57 -21 0 -1140 0 -1139 -517 2 -518 3 -3 1137 -2 1136 52
17 c214 70 406 281 448 492 20 102 22 103 45 8 12 -50 32 -112 44 -138z m1348
93 c66 -233 260 -417 503 -476 73 -18 240 -17 320 1 244 58 453 271 507 518 9
43 20 74 23 70 4 -5 13 -36 19 -70 41 -215 232 -427 449 -498 l52 -17 -2
-1136 -3 -1137 -1295 0 -1295 0 0 1125 0 1125 76 7 c222 20 431 164 532 366
25 50 53 126 63 169 17 76 18 77 27 43 5 -19 16 -60 24 -90z" />
                <path class="st0" d="M1768 2427 c-64 -30 -98 -82 -98 -151 0 -58 11 -86 49 -122 l31 -29
0 -198 0 -199 -31 -30 c-38 -38 -49 -66 -49 -124 0 -176 237 -225 319 -67 28
56 3 168 -45 200 -24 15 -24 16 -24 219 0 196 1 203 21 218 41 28 59 68 59
127 0 61 -22 105 -72 142 -33 24 -121 32 -160 14z" />
                <path class="st0" d="M3430 2399 l-243 -241 61 -61 61 -60 240 240 c133 133 241 245 241
250 0 10 -102 113 -112 113 -3 0 -115 -108 -248 -241z" />
                <path class="st0" d="M3671 2156 l-483 -483 54 -57 c30 -31 59 -56 64 -56 5 0 226 217 492
483 l483 483 -57 57 c-32 31 -60 57 -64 57 -3 0 -223 -218 -489 -484z" />
                <path class="st0" d="M3915 1910 l-239 -240 54 -55 c30 -30 59 -55 65 -55 5 0 118 108 250
240 l240 240 -55 55 c-30 30 -59 55 -65 55 -5 0 -118 -108 -250 -240z" />
            </g>
        </svg>
        break;
    case 3:
        <svg class="recipe-svg" version="1.0" xmlns="http://www.w3.org/2000/svg" width="697.000000pt" height="503.000000pt" viewBox="0 0 697.000000 503.000000" preserveAspectRatio="xMidYMid meet">
            <g transform="translate(0.000000,503.000000) scale(0.100000,-0.100000)" fill="#000000" stroke="none">
                <path class="st0" d="M6601 4995 c-18 -8 -69 -50 -113 -93 -248 -240 -437 -572 -502 -882
-57 -271 -37 -653 49 -937 58 -190 135 -344 319 -636 55 -89 110 -181 120
-204 19 -42 19 -46 -38 -980 -31 -516 -58 -966 -59 -1000 -2 -58 0 -64 33 -98
44 -46 139 -92 210 -103 79 -11 144 2 230 45 87 45 120 85 120 147 0 23 -27
1071 -60 2330 -56 2138 -61 2291 -78 2324 -43 84 -150 124 -231 87z" />
                <path class="st0" d="M616 4938 c-49 -10 -92 -41 -114 -81 -15 -29 -17 -86 -22 -602 l-5
-570 -47 -3 -48 -3 0 528 c0 354 -4 541 -11 568 -15 52 -74 110 -126 124 -81
22 -170 -18 -204 -93 -17 -39 -19 -78 -19 -678 0 -422 4 -655 11 -690 6 -29
29 -91 51 -138 32 -67 57 -101 117 -161 70 -70 90 -83 266 -171 105 -53 213
-104 242 -113 49 -16 51 -18 47 -48 -2 -18 -29 -627 -61 -1354 l-57 -1322 28
-30 c36 -38 132 -80 212 -94 106 -18 266 27 330 94 l28 30 -57 1327 c-32 730
-59 1342 -60 1360 -1 30 2 34 52 57 29 14 115 62 190 107 173 104 257 185 319
308 74 149 72 125 72 859 0 644 0 655 -21 698 -51 106 -206 129 -285 41 -50
-55 -49 -37 -52 -641 l-3 -568 -47 3 -47 3 -5 570 c-6 628 -3 608 -68 654 -83
58 -195 40 -256 -43 -21 -27 -21 -41 -26 -604 l-5 -577 -47 -3 -48 -3 0 538
c-1 296 -5 558 -9 582 -20 99 -114 161 -215 139z" />
                <path class="st0" d="M3525 4505 c-690 -95 -1265 -505 -1575 -1122 -142 -284 -210 -577
-210 -908 0 -577 216 -1081 636 -1485 310 -298 695 -484 1131 -546 144 -20
417 -20 558 1 920 134 1631 850 1749 1763 142 1099 -605 2101 -1704 2287 -131
23 -455 28 -585 10z m416 -305 c303 -31 603 -141 839 -307 122 -87 336 -301
423 -423 75 -107 182 -316 222 -435 200 -593 71 -1236 -343 -1710 -274 -314
-671 -521 -1102 -574 -244 -31 -564 7 -793 93 -704 265 -1162 946 -1134 1686
14 339 107 629 292 905 354 529 976 827 1596 765z" />
                <path class="st0" d="M3610 4079 c-550 -62 -1035 -402 -1274 -893 -355 -729 -121 -1605
549 -2052 182 -121 365 -198 585 -246 91 -19 133 -22 315 -22 179 0 225 3 312
22 374 81 694 272 929 556 459 555 498 1334 96 1931 -334 495 -925 770 -1512
704z" />
            </g>
        </svg>
        break;
    case 4:
        <svg class="staff-svg" version="1.0" xmlns="http://www.w3.org/2000/svg" width="1600.000000pt" height="1600.000000pt" viewBox="0 0 1600.000000 1600.000000" preserveAspectRatio="xMidYMid meet">
            <g transform="translate(0.000000,1600.000000) scale(0.100000,-0.100000)" fill="#000000" stroke="none">
                <path class="st0" d="M10000 13670 l0 -1000 1000 0 1000 0 0 1000 0 1000 -1000 0 -1000 0
0 -1000z" />
                <path class="st0" d="M3830 13994 c-165 -20 -219 -29 -321 -54 -358 -87 -650 -247 -908
-495 -315 -303 -517 -706 -583 -1160 -16 -116 -16 -454 0 -570 97 -667 483
-1210 1070 -1504 176 -88 418 -162 627 -193 116 -16 454 -16 570 0 345 50 678
187 940 385 356 271 605 656 715 1106 44 178 55 278 55 491 0 213 -11 313 -55
491 -121 495 -407 906 -820 1180 -224 148 -539 267 -820 309 -78 11 -409 21
-470 14z" />
                <path class="st0" d="M12670 13335 l0 -665 665 0 665 0 0 665 0 665 -665 0 -665 0 0 -665z" />
                <path class="st0" d="M9330 11335 l0 -665 2670 0 2670 0 0 665 0 665 -2670 0 -2670 0 0
-665z" />
                <path class="st0" d="M9330 9335 l0 -665 2670 0 2670 0 0 665 0 665 -2670 0 -2670 0 0
-665z" />
                <path class="st0" d="M2570 9323 c-411 -70 -990 -218 -1188 -303 l-52 -23 3 -3236 c2
-3066 3 -3241 20 -3326 57 -284 174 -504 376 -706 163 -163 316 -258 526 -328
212 -70 80 -66 2085 -66 l1805 0 105 23 c384 85 685 294 888 617 72 115 138
286 175 450 7 35 12 560 16 1744 l6 1695 670 -805 c369 -442 695 -825 725
-850 113 -95 216 -151 341 -185 95 -27 316 -24 424 4 119 32 233 93 303 163
57 56 91 118 727 1326 367 698 672 1274 678 1281 19 23 134 82 268 138 73 30
348 126 613 213 538 177 697 235 888 321 344 157 532 321 554 484 l7 46 -1668
-2 -1667 -3 -419 -935 c-230 -514 -425 -948 -432 -965 l-14 -30 -933 1400
c-513 770 -940 1406 -949 1412 -9 7 -51 31 -94 53 -264 134 -974 287 -1762
380 -93 11 -191 20 -216 20 l-46 0 -30 -157 c-17 -87 -286 -1509 -599 -3161
-377 -1992 -571 -2995 -576 -2980 -7 20 -1421 6121 -1449 6251 -10 46 -11 47
-47 46 -20 -1 -48 -4 -62 -6z" />
            </g>
        </svg>
        break;
    case 5:
        <svg class="dashboard-svg" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" viewBox="-577 298 125 125" style="enable-background:new -577 298 125 125;" xml:space="preserve">
        <g>
            <path class="st0" d="M-474.9,317h-79.4c-2.1,0-3.8,1.8-3.8,3.8v79.3c0,2,1.8,3.9,3.8,3.9h79.6c2.1,0,3.8-2,3.8-4v-79.2   C-470.9,318.7-472.9,317-474.9,317z M-550.5,333.6v-8.7h53.1h18.6v8.7 M-478.5,396.5h-72v-56.7h72V396.5z" />
            <path class="st0" d="M-540.8,391.4c-0.6,0-1.2,0-1.7-0.5c-1.4-1-2-3-1-4.5l8-13.3c0.7-1,1.7-1.6,2.8-1.6   c1,0,2.2,0.5,2.8,1.4l3.4,4.7l7-12.3c0.6-1,1.7-1.6,2.7-1.6s2.2,0.5,2.8,1.3l6.3,8.6l16.6-27.5c1-1.5,3-2,4.5-1s2,3,1,4.5l-19,31.6   c-0.7,1-1.7,1.6-2.7,1.7c-1,0-2.2-0.5-2.8-1.3l-6.3-8.4l-7.3,12.2c-0.7,1-1.7,1.6-2.8,1.6c-1,0-2.2-0.5-2.8-1.4l-3.4-4.7l-5.3,9   c-0.6,1.2-1,1.3-2.2,1.5L-540.8,391.4z" />
        </g>
        </svg>
        break;
}