﻿@model WebSite.ViewModels.Institution.InstitutionShortViewModel

@{ 
    Layout = null;
}

@using (Html.BeginForm("DeleteInstitution", "Institution", FormMethod.Post, new { data_notification_success = "Заведение удалено." }))
{
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">Подтверждение удаления</h4>
    </div>
    <div class="modal-body">
        <div data-validation-error-paceholder />
        <p>Вы уверены что хотите удалить заведение "@Model.Name"?</p>
        @Html.HiddenFor(m => m.Id)
    </div>
    <div class="modal-footer text-right">
        <button class="btn btn-primary" type="submit" data-loading-text="Удаление...">Да</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Отмена</button>
    </div>
}