﻿@model WebSite.ViewModels.Institution.InstitutionFullViewModel

@{
    ViewBag.Title = Model.Name;
}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.6.0/katex.min.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.3.0/styles/monokai-sublime.min.css" />
<link href="//cdn.quilljs.com/1.2.6/quill.snow.css" rel="stylesheet">

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.6.0/katex.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.3.0/highlight.min.js"></script>
<script src="//cdn.quilljs.com/1.2.6/quill.min.js"></script>

@Styles.Render("~/bundles/institution-styles")

<div>
    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a href="#info" aria-controls="info" role="tab" data-toggle="tab">Информация</a></li>
        <li role="presentation"><a href="#photos" aria-controls="photos" role="tab" data-toggle="tab">Фото</a></li>
        <li role="presentation"><a href="#menu" aria-controls="menu" role="tab" data-toggle="tab">Меню</a></li>
        <li role="presentation"><a href="#sheme" aria-controls="sheme" role="tab" data-toggle="tab">Схема заведения</a></li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="info">
            <form method="post">
                @Html.ValidationSummary(true)

                <div class="row">
                    <div class="col-md-4 col-xs-12">
                        <div class="form-group">
                            @Html.LabelFor(m => m.Name, true)
                            @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.Name)
                        </div>
                    </div>
                    <div class="col-md-4 col-xs-12">
                        <div class="form-group">
                            @Html.LabelFor(m => m.Address, true)
                            @Html.TextBoxFor(m => m.Address, new { @class = "form-control", @id = "search-address" })
                            @Html.ValidationMessageFor(m => m.Address)
                        </div>
                    </div>
                    <div class="col-md-4 col-xs-12">
                        <div class="form-group">
                            @Html.LabelFor(m => m.TypeId, true)
                            @Html.DropDownListFor(m => m.TypeId, new SelectList(Model.InstitutionTypeList, "Value", "Name"), new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.TypeId)
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-4 col-xs-12">
                        <div class="form-group">
                            @Html.LabelFor(m => m.Phone, true)
                            @Html.TextBoxFor(m => m.Phone, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.Phone)
                        </div>
                    </div>
                    <div class="col-md-4 col-xs-12">
                        <div class="form-group">
                            @Html.LabelFor(m => m.Email)
                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.Email)
                        </div>
                    </div>
                    <div class="col-md-4 col-xs-12">
                        <div class="form-group">
                            @Html.LabelFor(m => m.Site)
                            @Html.TextBoxFor(m => m.Site, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.Site)
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            @Html.LabelFor(m => m.Kitchen)
                            @Html.DropDownListFor(m => m.Kitchen, new SelectList(Model.KitchenList, "Value", "Name"), new { @class = "form-control", @id = "kitchen", multiple = "multiple" })
                            @Html.ValidationMessageFor(m => m.Kitchen)
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            @Html.LabelFor(m => m.ServiceTag, true)
                            @Html.DropDownListFor(m => m.ServiceTag, new SelectList(Model.ServiceTagList, "Value", "Name"), new { @class = "form-control", @id = "service-tags", multiple = "multiple" })
                            @Html.ValidationMessageFor(m => m.ServiceTag)
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        @Html.LabelFor(m => m.Description, true)
                        <div id="editor-standalone-container">
                            <div id="toolbar-container">
                                <span class="ql-formats">
                                    <select class="ql-font"></select>
                                    <select class="ql-size"></select>
                                </span>
                                <span class="ql-formats">
                                    <button class="ql-bold"></button>
                                    <button class="ql-italic"></button>
                                    <button class="ql-underline"></button>
                                    <button class="ql-strike"></button>
                                </span>
                                <span class="ql-formats">
                                    <select class="ql-color"></select>
                                    <select class="ql-background"></select>
                                </span>
                                <span class="ql-formats">
                                    <button class="ql-header" value="1"></button>
                                    <button class="ql-header" value="2"></button>
                                    <button class="ql-blockquote"></button>
                                </span>
                                <span class="ql-formats">
                                    <button class="ql-list" value="ordered"></button>
                                    <button class="ql-list" value="bullet"></button>
                                    <button class="ql-indent" value="-1"></button>
                                    <button class="ql-indent" value="+1"></button>
                                </span>
                                <span class="ql-formats">
                                    <button class="ql-direction" value="rtl"></button>
                                    <select class="ql-align"></select>
                                </span>
                                <span class="ql-formats">
                                    <button class="ql-link"></button>
                                    <button class="ql-video"></button>
                                </span>
                                <span class="ql-formats">
                                    <button class="ql-clean"></button>
                                </span>
                            </div>
                            <div id="editor-container"></div>
                        </div>
                        @Html.ValidationMessageFor(m => m.Description)
                    </div>
                </div>
                    
                <br />
                @Html.HiddenFor(m => m.Id)
                @Html.HiddenFor(m => m.Lat, new { @class = "institution-map-lat" })
                @Html.HiddenFor(m => m.Lng, new { @class = "institution-map-lng" })
                @Html.HiddenFor(m => m.Logo)
                @Html.HiddenFor(m => m.Description, new { @class = "institution-description" })
                @Html.HiddenFor(m => m.City, new { @class = "institution-map-city" })
                @Html.HiddenFor(m => m.Country, new { @class = "institution-map-country" })

                @Html.HiddenFor(m => m.CountryAbbr, new { @class = "institution-map-country-abbr" })
                @Html.HiddenFor(m => m.PostalCode, new { @class = "institution-map-postal-code" })
                <input class="btn btn-primary pull-right institution-save" type="submit" value="Save" />
            </form>
        </div>
        <div role="tabpanel" class="tab-pane" id="photos">
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <div id="fine-uploader-validation"></div>
                </div>
            </div>

            @{ 
                int i = 0;
            }
            @foreach (string photo in Model.PhotoList)
            {
                if (i % 3 == 0)
                {
                    @:<div class="row">
                }

                <div class="col-md-4 col-xs-12">
                    <div class="photo-tile">
                        <a href="@photo" class="photo-link">
                            <img src="@photo">
                        </a>
                    </div>
                </div>

                i++;

                if ((i % 3 == 0 && i > 1) || i == Model.PhotoList.Count)
                {
                    @:</div>
                }
            }
        </div>
        <div role="tabpanel" class="tab-pane" id="menu">

        </div>
        <div role="tabpanel" class="tab-pane" id="sheme">

        </div>
    </div>
</div>

@section Scripts
{
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBQeczM-dkkELZTcq1qFWXvjLE0gE0eJ4w&libraries=places"></script>
    @Scripts.Render("~/bundles/institution-scripts")
    <script type="text/javascript">
        $(document).ready(function () {
            institution.initEditPage(@Model.Id, @Html.Raw(Json.Encode(Model.ServiceTag)), @Html.Raw(Json.Encode(Model.Kitchen)));
        });
    </script>


    <!-- Fine Uploader Thumbnails template w/ customization
    ====================================================================== -->
    <script type="text/template" id="qq-template-validation">
        <div class="qq-uploader-selector qq-uploader" qq-drop-area-text="Drop files here">
            <div class="qq-total-progress-bar-container-selector qq-total-progress-bar-container">
                <div role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" class="qq-total-progress-bar-selector qq-progress-bar qq-total-progress-bar"></div>
            </div>
            <div class="qq-upload-drop-area-selector qq-upload-drop-area" qq-hide-dropzone>
                <span class="qq-upload-drop-area-text-selector"></span>
            </div>
            <div class="qq-upload-button-selector qq-upload-button">
                <div>Select files</div>
            </div>
            <span class="qq-drop-processing-selector qq-drop-processing">
                <span>Processing dropped files...</span>
                <span class="qq-drop-processing-spinner-selector qq-drop-processing-spinner"></span>
            </span>
            <ul class="qq-upload-list-selector qq-upload-list" aria-live="polite" aria-relevant="additions removals">
                <li>
                    <div class="qq-progress-bar-container-selector">
                        <div role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" class="qq-progress-bar-selector qq-progress-bar"></div>
                    </div>
                    <span class="qq-upload-spinner-selector qq-upload-spinner"></span>
                    <img class="qq-thumbnail-selector" qq-max-size="100" qq-server-scale>
                    <span class="qq-upload-file-selector qq-upload-file"></span>
                    <span class="qq-upload-size-selector qq-upload-size"></span>
                    <button type="button" class="qq-btn qq-upload-cancel-selector qq-upload-cancel">Cancel</button>
                    <button type="button" class="qq-btn qq-upload-retry-selector qq-upload-retry">Retry</button>
                    <button type="button" class="qq-btn qq-upload-delete-selector qq-upload-delete">Delete</button>
                    <span role="status" class="qq-upload-status-text-selector qq-upload-status-text"></span>
                </li>
            </ul>

            <dialog class="qq-alert-dialog-selector">
                <div class="qq-dialog-message-selector"></div>
                <div class="qq-dialog-buttons">
                    <button type="button" class="qq-cancel-button-selector">Close</button>
                </div>
            </dialog>

            <dialog class="qq-confirm-dialog-selector">
                <div class="qq-dialog-message-selector"></div>
                <div class="qq-dialog-buttons">
                    <button type="button" class="qq-cancel-button-selector">No</button>
                    <button type="button" class="qq-ok-button-selector">Yes</button>
                </div>
            </dialog>

            <dialog class="qq-prompt-dialog-selector">
                <div class="qq-dialog-message-selector"></div>
                <input type="text">
                <div class="qq-dialog-buttons">
                    <button type="button" class="qq-cancel-button-selector">Cancel</button>
                    <button type="button" class="qq-ok-button-selector">Ok</button>
                </div>
            </dialog>
        </div>
    </script>
}