﻿@model List<WebSite.ViewModels.Institution.InstitutionShortViewModel>
@{
    ViewBag.Title = "Заведения";
    int rowCount = 0;
}

<div class="institution-list">

@foreach (var item in Model)
{
    if (rowCount % 4 == 0)
    {
        @:<div class="row">
    }
    
    <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="tile-caffee" data-id="@item.Id">
            <div class="tile-title">@item.Name</div>
            <div class="tile-image" style="background-image: url('/Uploads/Institutions/@item.Id/@item.Logo')">
                <div class="links"></div>
            </div>
            <div class="tile-info">
                @item.City,<br />
                @item.Address
            </div>
        </div>
    </div>

    rowCount++;

    if ((rowCount > 1 && rowCount % 4 == 0) || Model.Count == rowCount)
    {
        @:</div>
    }
}

</div>

<script id="column-actions-template" type="text/x-handlebars-template">
    <div class="btn-group">
        <a class="btn btn-sm" href="/institution/view/{{id}}" title="View"><i class="fa fa-eye"></i></a>
        <a class="btn btn-sm" href="/institution/edit/{{id}}" data-id="{{id}}" title="Edit"><i class="fa fa-pencil"></i></a>
        <a class="btn btn-sm btn-institution-delete" data-id="{{id}}" title="Delete"><i class="fa fa-trash"></i></a>
    </div>
</script>

@section Scripts
{
    @Scripts.Render("~/bundles/institution-scripts")

    <script type="text/javascript">
        $(document).ready(function () {
            institution.initMainPage();
        });
    </script>
}