﻿@model WebSite.ViewModels.Institution.InstitutionShortViewModel
@{
    ViewBag.Title = Model.Name;
}

<div class="page-header page-header-with-actions">
    <h1>@ViewBag.Title</h1>
</div>



@section Scripts
{
    @Scripts.Render("~/bundles/institution-scripts")

    <script type="text/javascript">

        $(document).ready(function () {

            //institution.onReady($('#institution-list'));

        });

    </script>
}