﻿@mixin menu-triangle() {
    width: 0; 
    height: 0; 
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 6px solid #f1592a;
    content: ' ';
    display: block;
    position: absolute;
    bottom: 0px;
    left: calc(50% - 6px);
    transition: left 0.4s ease;
}