﻿@import '_mixins.scss';

$font-family: 'Nunito Sans', sans-serif;
$font-size: 16px;

html {
    position: relative;
    min-height: 100%;
}

body {
    min-height: 550px;
    margin-bottom: 180px;
    font-family: $font-family;
    font-size: $font-size;
    background: url("/Content/img/fon.png");

    &.ui-blocker:before {
        content: ' ';
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 9999999999;
    }

    & .loader {
        position: absolute;
        left: 50%;
        top: 20%;
        margin-left: -20px;
        margin-top: -20px;
        z-index: 99999999991;

        & .sk-double-bounce .sk-child {
            background-color: #000;
        }
    }
}

.mt0 {
    margin-top: 0 !important;
}

.mb0 {
    margin-bottom: 0 !important;
}

.panel-default {
    border-color: #eee;
    box-shadow: none;
    border-radius: 2px;
}

.btn {
    border-radius: 2px;
}

.form-control {
    @extend .btn;
    box-shadow: none;
}

.panel-body {
    padding: 20px;
}

.breadcrumb {
    padding: 0;
    background: none;
    margin: 10px 0 0 0;
}

footer {
    @media (max-width: 768px) {
        text-align: center;

        & nav {
            text-align: center;
        }
    }

    font-size: 14px;
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 20px 0;
    color: #4f4f4f;
    background-color: #f2f2f2;
    box-shadow: 0 0 6px rgba(0,0,0,.2);

    & nav {
        text-align: right;
    }

    & a {
        color: #4f4f4f;

        &:hover {
            color: #999;
            text-decoration: none;
        }
    }

    & .company-name {
        font-size: 24px;
        display: inline-block;

        & .icon-title {
            float: left;

            & svg {
                width: 32px;
                height: 32px;
            }
            & .st0 {
                fill: #4f4f4f;
            }
        }

        span {
            margin-top: 2px;
            float: left;
        }
    }

    & .right-reserved {
        margin: -10px 0 0 5px;
    }
}

.modal-content {
    box-shadow: none;
    border-color: rgba(0, 0, 0, 0.15);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
}

.vertical-center-wrap {
    display: table;
    width: 100%;
    height: 100%;
}

.vertical-center {
    display: table-cell;
    vertical-align: middle;
}

.navbar-brand {
    & .icon-title {
        margin-top: -18px;
        display: inline-block;

        & svg {
            width: 46px;
            height: 46px;
        }
    }

    & .text-title {
        float: right;
        font-size: 30px;
        margin-top: 2px;
    }

    & .cap-coffee-svg .st0 {
        fill: #f1592a;
    }
}

.login-logo {
    @media (min-width: 768px) {
        margin-top: 100px;
    }

    margin: 25px 0 25px 0;
    text-align: center;
}

.login-header {
    margin: 35px 0;
    text-align: center;
}

.login-wrap {
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;

    & .panel-login .panel-body .btn {
        margin-top: 25px;
    }
}

.or {
    display: block;
    position: relative;
    border-top: 1px solid #dfdfdf;
    padding-top: 20px;
    margin-top: 20px;

    &:before {
        display: inline-block;
        content: "OR";
        color: #666666;
        background-color: #ffffff;
        position: absolute;
        text-align: center;
        top: -8px;
        width: 40px;
        left: 50%;
        margin-left: -20px;
    }
}

.icheckbox {
    margin-left: -20px;
}

.site-title {
    font-size: xx-large;

    &:hover {
        text-decoration: none;
    }
}

.page-header {
    margin-top: 20px;
}

.page-header-with-actions {
    &:before {
        display: table;
        content: " ";
    }

    &:after {
        @extend .page-header-with-actions:before;
        clear: both;
    }

    & h1 {
        margin-top: 0;
    }

    & .actions {
        margin-top: 5px;
    }
}

.actions-column {
    width: 200px;
}

.dt-filters {
    padding: 7px 0 15px 0;

    & .form-group > label {
        font-weight: normal;
        font-size: 12px;
    }

    & .form-control {
    }

    & .row:last-child .form-group {
        margin-bottom: 0;
    }
}

.dataTables_wrapper {
    position: relative;
}

.validation-summary-errors {
    padding: 15px;
    margin: 10px 0 20px 0;
    border-radius: 2px;
    background-color: #FCF2F2;
    border: 1px solid #eed3d7;
    color: #a94442;

    & .close {
        position: relative;
        top: -2px;
        right: -21px;
        line-height: 18px;
    }

    & ul {
        margin: 0;
        padding: 0;
    }

    & li {
        list-style: none;
    }
}

.pagination > li > a, .pagination > li > span {
    padding: 4px 10px;
}

.page-header.with-backimage {
    padding-top: 300px;
    background: url('https://tablepin.ru/bitrix/templates/tablepin/images/main_background_image_001.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;

    & h1 {
        color: #fff;
        background: rgba(0,0,0,0.5);
        padding: 10px;
        text-align: center;
    }
}

.base-container {
    margin-top: 20px;
}

.navbar-coffee {
    background-color: #f2f2f2;
    border: none;
    box-shadow: 0 0 6px rgba(0,0,0,.2);
    padding-top: 5px;
    height: 60px;

    & a {
        color: #f1592a;
    }

    & .nav > li > a:focus, & .nav > li > a:hover {
        background-color: transparent;
    }
}

.menu-coffee {
    width: 100%;
    height: 90px;
    background: #fff;
    border-bottom: 3px solid #f1592a;
    transition: all 0.4s ease;
    overflow: hidden;
    text-align: center;
    position: relative;
    z-index: 999;

    & .menu-selector {
        @include menu-triangle();
    }

    &.sticky {
        top: 0;
        height: 48px;
        position: fixed;

        & .text-item {
            display: none;
        }

        & a {
            height: 36px;
        }

        & .img-item {
            height: 32px;

            & svg {
                height: 32px;
            }
        }
    }

    & .img-item {
        display: block;
        width: 100%;
        height: 54px;
        transition: height 0.4s ease;

        & svg {
            width: 100%;
            height: 54px;
            transition: height 0.4s ease;

            & .st0 {
                fill: #f1592a;
            }
        }
    }

    & .text-item {
        color: #4f4f4f;
        text-transform: uppercase;
        text-align: center;
    }

    & a {
        margin: 5px 10px;
        height: 80px;
        display: inline-block;
        width: 120px;
        transition: all 0.4s ease;

        &:hover .text-item {
            color: #f1592a;
        }

        &:hover, &:focus {
            text-decoration: none;
        }
    }
}

.tile-caffee {
    background: #f2f2f2;
    width: 100%;
    border-radius: 6px;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
    margin: 10px auto;
    display: block;
    position: relative;

    & .links {
        display: block;
        z-index: 998;
        background-color: rgba(21, 21, 21, 0.5);
        width: 100%;
        height: 60%;
        margin: 0;
        position: absolute;
        top: 30%;
        transform: translate(0, -30%);
        left: 0;
        transition: opacity 0.4s ease;
        opacity: 0;

        & .btn-group {
            margin: 0;
            position: absolute;
            top: 50%;
            left: 50%;
            margin-right: -50%;
            transform: translate(-50%, -50%);
        }

        & a {
            font-size: 30px;
            color: #fff;
            box-shadow: none;
            transition: color 0.4s ease;

            &:hover, &:focus {
                color: #f1592a;
            }
        }
    }

    & .tile-title {
        height: 32px;
        line-height: 32px;
        background: #fff;
        width: 100%;
        border-radius: 6px 6px 0 0;
        text-align: center;
        font-size: 18px;
        font-weight: bold;
        border-bottom: 2px solid #f1592a;
    }

    & .tile-image {
        width: 100%;
        height: 160px;
        background: #fff;
        display: block;
        position: relative;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: 50% 50%;

        &:hover .links {
            opacity: 1;
        }

        &:after {
            width: 0;
            height: 0;
            border-left: 8px solid transparent;
            border-right: 8px solid transparent;
            border-top: 12px solid #fff;
            content: ' ';
            position: absolute;
            display: block;
            bottom: -12px;
            left: 32px;
        }
    }

    & .tile-info {
        padding: 16px 10px 10px 10px;
        height: 100px;
    }
}

#editor-standalone-container {
    background-color: #fff;

    & #toolbar-container {
        display: none;
        border-radius: 2px 2px 0 0;

        &.ql-toolbar {
            display: block;
        }
    }

    & #editor-container {
        border-radius: 0 0 2px 2px;
    }
}

.select2-container--default .select2-selection--multiple {
    border-color: #ccc !important;
    border-radius: 2px !important;
}

.select2-container--default.select2-container--focus .select2-selection--multiple {
    border-color: #66afe9 !important;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6);
}

.required::after 
{
    content: " *";
    color: red; 
}




@import "institution.scss";