﻿#service-tags {
    height: 35px;
}

#photos {
    & .photo-tile {
        padding: 10px;
        text-align: center;
        height: 280px;

        & img {
            max-width: 100%;
            max-height: 100%;
        }
    }
}